<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'salvar' %}" method="POST">
    {% csrf_token %}
    <h1>Cadastro de despesas fixas</h1>
    <br>
    <input type="text" placeholder="Descrição" name="descricao"><br><br>
    <input type="date" name="data_inicio"><br><br>
    <input type="date" name="data_fim"><br><br>
    <input type="decimal" placeholder="Valor" name="valor"><br><br>
    <button type="submit">Salvar</button> <br>
  </form>
</body>
</html>