<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css"> 
  <title>Update</title>
</head>
<body>

  <h3>{{ despesas_fixas.id }} - {{ despesas_fixas.valor }} - {{ despesas_fixas.descricao }}</h3>

  <form action="{% url 'editar' despesas_fixas.id %}" method="POST">
    {% csrf_token %}
    <h1>Atualizar cadastro de despesas fixas</h1>
    <br>
    <input type="text" placeholder="Descrição" name="descricao" value={{despesasfixas.descricao}}><br><br>
    <input type="decimal" placeholder="Valor" name="valor" value={{despesasfixas.valor}}><br><br>
    <button type="submit">Update</button> <br>
  </form>
</body>
</html>